#login-modal{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    align-items: center;
}

#login-modal-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#login-modal-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-modal-closeIcon-imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 999px;
}

 
.login-modal-closeIcon-imgContainer:hover {
    background-color: rgba(15, 20, 25, 0.1);
  }


#login-modal-googleOption{
    width: 300px;
    max-width: 400px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eff3f4;
    border-radius: 999px;
    margin-top: 10px;
}

#login-modal-googleOption-imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

#login-modal-googleOption-imgContainer img{
    width: 20px;
    height: 20px;
}

#signInWithGoogle{
    cursor:pointer;
    padding: 0 5px;
    font-weight: bold;
    color: black;
}