#searchMessageNavBarLinksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchMessageNavBarLink{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}