@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

.NavBarLink {
    font-family: inherit;
    transition: 0.2s;
    word-wrap: no-wrap;
   
}

.NavBarLinkText {
    font-family: 'Poppins' !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #536471;
}

.NavBarLinkActive {
    border-radius: 9999px;
    background-color:  #1D9bf0;
    height: 4px;
}
