#notifications-navBarAndItems{
  display: flex;
  flex-direction: column;
}
#notifications-navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .notificationsNavBarLinkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    padding: 16px 25px;
    border-bottom: 1px solid #eff3f4;
  
  }
  
  .notificationsNavBarLinkContainer:hover {
    background-color: rgb(180, 180, 188, 0.34);
  }