.navbar-container-m {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    background: white;
    border-top: 1px solid #eff3f4;
}
