.dateJoined-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #536471;
    margin-right: 12px;
}

.dateJoined-img {
    width: 18.75px;
    height: 18.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateJoined-img img {
    width: 13px;
    height: 15px;
}