.individual-poll {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .individual-poll-input {
    width: 90%;
  }
  
  .individual-poll-add {
    padding: 5px;
  }
  
  .poll-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .poll-date-text {
    font-weight: bold;
  }
  
  .poll-select-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }