#explore {
    height: 100vh;
    width: 598px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eff3f4;
    border-left: 1px solid #eff3f4;
  }
  
  #explore-topRow {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #explore-topRow-left {
    margin-left: 15px;
  }
  
  #explore-topRow-right {
    width: 34px;
    height: 34px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px
  }
  
  #explore-topRow-right img {
    width: 20px;
    height: 20px;
  }
  
  #explore-topRow-right:hover {
    background-color: rgba(15, 20, 25, 0.1);
  }
  