#messages {
    width: 388px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#messages-topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#messages-topRowLeftText{
    font-size: 20px;
    font-weight: bold;
    color: #0F1419;
}

#messages-topRowRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-topRowRight {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.messages-topRowRight img {
    width: 20px;
    height: 20px;
    display: flex;
}

.messages-topRowRight:hover {
    background-color: rgba(15, 20, 25, 0.1);
}