#messageSearchBarAndDMSContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 10px; 

}

#messageSearchBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageSearchBar{
    border: 1px solid #eff3f4;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 9999px;
}

#messageSearchBarImgContainer{
    width: 28px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageSearchBarInput{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    margin-right: 10px;
}

#messageSearchBarCloseIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 999px;
    margin-right: 5px;
}
#messageSearchBarCloseIcon:hover{
    background-color: rgba(15, 20, 25, 0.1);
}
#messageSearchBarCloseIcon img{
    width: 20px;
    height: 20px;
}


