@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');



.active-modal{
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.5);
}
/* body { */
  /* cursor: default; */
  /* margin: 0; */
  /* font-family: 'Poppins', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
/* } */



:root {
  --fontFamily : 'Poppins';
  --buttonColor: #1D9BF0;
  --buttonColorOnHover: rgba(26, 140, 216);
  --buttonLightColorOnHover: rgba(29, 155, 240, 0.1);
}