#bookmarksPage{
    display: flex;
    width: 990px;
    justify-content: space-between;
    margin-left: 10px;
}

#bookmarksPage-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1075px){
    #bookmarks-right{
        display: none;
    }
}